.options{
    margin-left: 15px;
    display: flex;
    gap:20px
}
.add-product{
    padding: 12px 22px;
    font-size: 16px;
    color:whitesmoke;
    background-color: black;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
}
.add-product:hover,.category:hover{
    cursor: pointer;
}
.category{
    padding: 12px 22px;
    color:whitesmoke;
    background-color: black;
    font-size: 16px;
    border-radius: 5px;
    color:whitesmoke;
    border: none;
    font-weight: bolder;
}
.category option{
    background: white;
    color: black;
}