.parent{
    padding:"0px 50px";
    margin-left: 100px;
}
.options{
    display: flex;
    gap:20px
}
.add-product{
    padding: 12px 22px;
    font-size: 16px;
    color:whitesmoke;
    background-color: black;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
}
.add-product:hover,.category:hover{
    cursor: pointer;
}
.category{
    padding: 12px 22px;
    color:whitesmoke;
    background-color: black;
    font-size: 16px;
    border-radius: 5px;
    color:whitesmoke;
    border: none;
    font-weight: bolder;
}
.category option{
    background: white;
    color: black;
}
.products{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
}

@media (min-width: 1100px) and (max-width: 1300px) {
    .products{
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
    }
}
@media (min-width: 800px) and (max-width: 1100px) {
    .products{
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
    }
}
@media (min-width: 550px) and (max-width: 800px) {
    .products{
        grid-template-columns: repeat(2,1fr);
        row-gap: 30px;
    }
}
@media (min-width:350px) and (max-width: 550px) {
    .products{
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .options{
        flex-direction: column-reverse;
        width: fit-content;
        margin: auto;
    }
}
@media  (max-width: 350px){
    .products{
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .options{
        flex-direction: column-reverse;
        width: fit-content;
    }
    .add-product{
        padding: 8px 16px;
        font-size: 14px;
    }
    .category{
        padding: 8px 16px;
        font-size: 14px;
    }
}
@media (min-width: 250px) and (max-width: 300px){
    .products{
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .options{
        flex-direction: column-reverse;
        width: fit-content;
    }
    .add-product{
        padding: 8px 16px;
        font-size: 12px;
    }
    .category{
        padding: 6px 7px;
        font-size: 12px;
    }
}

@media (min-width:665px) and (max-width:800px){
    .parent{
      margin-left: 107px;
    }
  }

  @media (min-width:550px) and (max-width:665px){
    .parent{
      margin-left: 110px;
    }
  }

  @media (min-width:400px) and (max-width:550px){
    .parent{
      margin-left: 55px;
    }
  }

  @media (min-width:350px) and (max-width:400px){
    .parent{
      margin-left: 55px;
    }
  }

  @media (min-width:300px) and (max-width:350px){
    .parent{
      margin-left: 60px;
    }
  }  

  @media(max-width:350px){
    .parent{
      margin-left: 77px;
    }
  }